Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  bugprone-*,
  performance-*,
  portability-*,
  misc-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
